@font-face {
    font-family: 'Gilroy';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Radomir-Tinkov-Gilroy-Regular.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Radomir-Tinkov-Gilroy-Medium.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Radomir-Tinkov-Gilroy-SemiBold.woff')
        format('woff');
    /* Pretty Modern Browsers */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Radomir-Tinkov-Gilroy-Bold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('https://epifi-vanilla-community.s3.ap-south-1.amazonaws.com/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: block;
}
